*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, poppins, sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 17px;
    color: black;
    outline: none;
}
:root{
    color: brown;
}
section{
    height: 200vh;
}
.logo{
    font-size: 10px;
    font-weight: solid;
    color: black;
    padding: 0 20px;
    line-height: 10px;
}
nav{
    width: 100%;
    background-color: #0a0a0ab6;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    float: left;
    display: flex;
    justify-content: space-between;
    padding: O 10%;
    position:relative;
    z-index: 999;
    background-color: transparent;
    align-items: center;
    transition: .9s;
}
nav a:hover{
    color: var(--main-color #830f0f);
    text-decoration:underline;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding-bottom: 5px;
    animation: Load_anim 1s 0.2s linear forwards;
}
nav ul li:nth-child(2){
animation-delay: 500ms;
}
nav ul li:nth-child(3){
    animation-delay: 100ms;
}
nav ul li:nth-child(4){
    animation-delay: 1500ms;
}
nav ul li a{
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 5px 5px;
    color: rgb(12, 12, 12);
}
nav ul li::before{
    position: absolute;
    content: attr();
    width: 0;
    height: 3px;
    background-color: #830f0f;
    bottom: 0;
    transition: -4s all ease-in-out;
}
nav ul li:hover::before{
    width: 100%;
}
.logo{
    animation: Load_anim 1s 0.2s linear forwards;
}
nav.logo #nav .logo i{
    font-size: 1.6rem;
    letter-spacing: 2.5px;
    font-weight: 700;
    position: sticky;
}
.Menu{
    margin-left: 660px;
}

section #contact{
    display: inline-flex;
    margin-bottom: 1900px;
    margin-left: 80px;
}



section #contact{
    padding: 100px 0;
}
section #contact .container{
    max-width: 1200px;
    height: 500px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px 10px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 5px 50px -10px #dce4dc;
}
section #contact .container .title{
    text-align: center;
    color: #2a2a2a;
    margin-bottom: 50px;
}
#contact .container .title h3{
    font-size: 1.5em;
}

#contact .container .title h3{
    animation-name: flash;
    animation-duration: 3s;
}

section #contact .container form{
    margin-bottom: 300px;
}

section #contact .container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

section #contact .container form input{
    width: 45%;
}

section #contact .container form input,
section #contact .container textarea{
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4eC;
    transition: 0.2s;
}

section #contact .container form textarea{
    width: 100%;
    resize: none;
    height: 100px;
}

section #contact .container form button{
    width: 192px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #830f0f;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.2s;
}
section #contact .container form input:hover,
section #contact .container form textarea:hover{
    border-bottom: 2px solid #830f0f ;
}

section #contact .container form button{
    margin-top: 20px;
}

section #contact .container form button:hover{
    transform: translateY(-5px);
    box-shadow: rgb(214, 214, 214) 0px 10px 40px -5px;
}



@media  screen and (max-width: 500px){
    section #contact .container form{
        flex-direction: column;
        width: 95%;
    }
    section #contact .container form input{
        width: 100%;
    }
    section #contact .container .title{
        font-size: 1em;
    }
}

