*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, poppins, sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 17px;
    color: black;
    outline: none;
}
:root{
    color: brown;
}
.logo{
    font-size: 10px;
    font-weight: solid;
    color: black;
    padding: 0 20px;
    line-height: 10px;
}
nav{
    width: 100%;
    background-color: #0a0a0ab6;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    float: left;
    display: flex;
    justify-content: space-between;
    padding: O 10%;
    position:absolute;
    top: 0;
    z-index: 999;
    background-color: transparent;
    align-items: center;
    transition: .9s;
}
nav a:hover{
    color: var(--main-color #830f0f);
    text-decoration:underline;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding-bottom: 5px;
    animation: Load_anim 1s 0.2s linear forwards;
}
nav ul li:nth-child(2){
animation-delay: 500ms;
}
nav ul li:nth-child(3){
    animation-delay: 100ms;
}
nav ul li:nth-child(4){
    animation-delay: 1500ms;
}
nav ul li a{
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 5px 5px;
    color: rgb(12, 12, 12);
}
nav ul li::before{
    position: absolute;
    content: attr();
    width: 0;
    height: 3px;
    background-color: #830f0f;
    bottom: 0;
    transition: -4s all ease-in-out;
}
nav ul li:hover::before{
    width: 100%;
}
.logo{
    animation: Load_anim 1s 0.2s linear forwards;
}
nav.logo #nav .logo i{
    font-size: 1.6rem;
    letter-spacing: 2.5px;
    font-weight: 700;
}
.Menu{
    margin-left: 660px;
}


main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


 #corpus h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    max-width: 500px;
    margin-top: 150px;
    margin-left: 400px;
}


@keyframes Load_anim{
    0%{
        opacity: 00;
        transform: translateY(-12px);
    }
    100%{
        opacity: 1;
        transform: translateY(-0px);
    }
}
@keyframes Load_anim_fade{
    100%{
        opacity: 1;
    }
    
    }
    @media (max-width:1200px){
        .Menu{
            padding: 1.5rem 5%;
        }
        }
        
    @media(max-width: 992px){
        .Menu{
            padding: 3px 0px;
            width: fit-content;          
        }
        html{
            font-size: 80%;
        }
        #oli{
            position: absolute;
            right: inherit;
            bottom: 8.5%;
            
        }
        
        P{
            width: auto;
            height: 20px;
            margin-bottom: 3rem;
        }
        .images{
            width: 50%;
            height: auto;
            margin-left: 50px;
            justify-content: left;
        }
        b
        
        .content{
            width: 70%;
            float: left;
        }
        .mim{
            object-position: bottom;
        }
        }
    
    @media(max-width: 780px){
        #btn{
            display: inline-block;
        }
        
    }

main{
    box-shadow: 0px 5px 50px -10px #dce4dc;
}    


.corpus{
    display: flex;
    height: 88%;
    align-items: center;
}
.corp{
    flex-basis: 50%;
    margin-top: 10%;
    padding-left: 10px;
    margin-left: 75px;
}
.corp h1{
    font-size: 100px;
    animation-name: bounce;
    animation-duration: 5s;
}

.corp h3{
    animation-name: shakeX;
    animation-duration: 5s;
    animation-delay: 5s;
}

.corp p{
    font-size: 11px;
    line-height: 15px;
}

.card{
    width: 200px;
    height: 230px;
     display: inline-flex;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image:url("./images/cotonou.webp");
    background-position: center;
    background-size: cover;
}
main .cards{
    margin-top: 150px;
    margin-left: 175px;
}
.card1{
    background-image:url("./images/cotonou.webp");
}
.card2{
    background-image:url("./images/zan.webp");
}
.card3{
    background-image:url("./images/porto.webp");
}
.card4{
    background-image:url("./images/gmef.webp");
}

main .card p{
    color: white;
}
.card p button{
    border-radius: 10px;
    line-height: 30px;
    background-color: #d17979;
    color: white;
    border: none;
    margin-top: 15px;
}
.card p button:hover{
    background-color: #e75757;
}

.card p button{
    transform: translateY(-5px);
    box-shadow: rgb(214, 214, 214) 0px 10px 40px -5px;
}




