*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, poppins, sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 17px;
    color: black;
    outline: none;
}
:root{
    color: brown;
}
section{
    height: 200vh;
}
.logo{
    font-size: 10px;
    font-weight: solid;
    color: black;
    padding: 0 20px;
    line-height: 10px;
}
nav{
    width: 100%;
    background-color: #0a0a0ab6;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    float: left;
    display: flex;
    justify-content: space-between;
    padding: O 10%;
    position:relative;
    z-index: 999;
    background-color: transparent;
    align-items: center;
    transition: .9s;
}
nav a:hover{
    color: var(--main-color #830f0f);
    text-decoration:underline;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding-bottom: 5px;
    animation: Load_anim 1s 0.2s linear forwards;
}
nav ul li:nth-child(2){
animation-delay: 500ms;
}
nav ul li:nth-child(3){
    animation-delay: 100ms;
}
nav ul li:nth-child(4){
    animation-delay: 1500ms;
}
nav ul li a{
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 5px 5px;
    color: rgb(12, 12, 12);
}
nav ul li::before{
    position: absolute;
    content: attr();
    width: 0;
    height: 3px;
    background-color: #830f0f;
    bottom: 0;
    transition: -4s all ease-in-out;
}
nav ul li:hover::before{
    width: 100%;
}
.logo{
    animation: Load_anim 1s 0.2s linear forwards;
}
nav.logo #nav .logo i{
    font-size: 1.6rem;
    letter-spacing: 2.5px;
    font-weight: 700;
    position: sticky;
}
.Menu{
    margin-left: 660px;
}

.box .log{
    margin-top: 55px;
}


.box{
    width: 400px;
    height: 230px;
     display: block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-color: rgb(202, 200, 200);
    box-shadow: 0px 5px 50px -10px #dce4dc;
}
.container{
    display: inline-flex;
    margin-top: 75px;
    margin-left: 35px;
}

.box{
    text-align: center;
}
.box h3{
    font-size: 20px;
}
.box p{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 15px;
}
.box button{
    border-radius: 10px;
    line-height: 30px;
    background-color: #d17979;
    color: white;
    border: none;
    margin-top: 15px;
    box-shadow: 0px 5px 50px -10px #dce4dc;
}

#about{
    display: inline-flex;
    flex-direction: column;
    margin-top: 50px;
}

#about h1{
    text-align: center;
    font-size: 30px;
}
#about p{
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}