*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, poppins, sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 17px;
    color: black;
    outline: none;
}
:root{
    color: brown;
}
.logod{
    font-size: 10px;
    font-weight: solid;
    color: black;
    padding: 0 20px;
    line-height: 10px;
}
nav{
    width: 100%;
    background-color: #0a0a0ab6;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    float: left;
    display: flex;
    justify-content: space-between;
    padding: O 10%;
    position: absolute;
    z-index: 999;
    background-color: transparent;
    align-items: center;
    transition: .9s;
}
nav a:hover{
    color: var(--main-color #830f0f);
    text-decoration:underline;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding-bottom: 5px;
    animation: Load_anim 1s 0.2s linear forwards;
}
nav ul li:nth-child(2){
animation-delay: 500ms;
}
nav ul li:nth-child(3){
    animation-delay: 100ms;
}
nav ul li:nth-child(4){
    animation-delay: 1500ms;
}
nav ul li a{
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 5px 5px;
    color: rgb(12, 12, 12);
}
nav ul li::before{
    position: absolute;
    content: attr();
    width: 0;
    height: 3px;
    background-color: #830f0f;
    bottom: 0;
    transition: -4s all ease-in-out;
}
nav ul li:hover::before{
    width: 100%;
}
.logo{
    animation: Load_anim 1s 0.2s linear forwards;
}
nav.logo #nav .logo i{
    font-size: 1.6rem;
    letter-spacing: 2.5px;
    font-weight: 700;
    position: sticky;
}
.menud{
    margin-left: 660px;
}

.container{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.container img{
    margin-top: 150px;
    margin-left: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 5px 50px -10px #dce4dc;
}

.container h1{
    margin: 15px;
}

.container .corpus{
    margin-top: 150px;
    margin-right: 150px;
    text-align: justify;
    justify-content: center;
}
.container .imge img{
    width: 380px;
    height: 380px;
}
.container .corps{
    margin-top: 150px;
    margin-right: 150px;
    text-align: justify;
}
.container .ige img{
    width: 380px;
    height: 380px;
}
.container .cors{
    margin-top: 150px;
    margin-right: 150px;
    text-align: justify;
}
.container .image img{
    width: 380px;
    height: 380px;
}
.container button{
    background-color: white;
}
.container button:hover{
    background-color: #e75757;
}
.container button{
    margin-top: 8px;
    margin-left: 5px;
    border-radius: 10px;
    line-height: 30px;
    background-color: #d17979;
    color: white;
    border: none;
}

#Cotonou #Oui #Porto #Ganvie{
    width: 100%;
    height: 720px;
    border: none;
}
body .bck{
    display: flex;
    margin-left: 90%;
}